@import "modern-normalize";

:root {
  line-height: 1.5;
  font-family: "Faculty Glyphic", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #5ea26b;
}

h1, h2, h3, h4, h5, figure, p, ol, ul {
  margin: 0;
}

ol[role="list"], ul[role="list"] {
  list-style: none;
  padding-inline: 0;
}

h1, h2, h3, h4, h5 {
  font-size: inherit;
  font-weight: inherit;
}

img {
  display: block;
  max-inline-size: 100%;
}


body {
  background-image: url("severance-off.jpg");
  background-repeat: no-repeat;
  background-size: 200vh 100vh;
  display: flex;
  gap: 1vh;
}

.form {
  background-color: #f1efeb;
  opacity: 0.9;
  width: 115vh;
  height: 98.5vh;
  border-radius: 1vh;
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

.banner {
  width: 85vh;
  height: 18.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
  background-color: #f1efeb;
  border-radius: 1vh;
}

.banner img {
  height: 15vh;
  width: 50vh;
  border-radius: 1vh;
}

.form p {
  font-size: 5vh;
  padding: 3vh;
}

.form legend {
  padding: 3vh;
  font-size: 2vh;
}